LOAD DATABASE
    FROM       mysql://{{ .MySQLUser }}:{{ .MySQLPassword }}@{{ .MySQLAddress }}/{{ .SourceSchema }}
    INTO       pgsql://{{ .PGUser }}:{{ .PGPassword }}@{{ .PGAddress }}/{{ .TargetSchema }}

WITH data only,
    workers = 8, concurrency = 1,
    multiple readers per thread, rows per range = 10000,
    prefetch rows = 10000, batch rows = 2500,
    create no tables, create no indexes,
    preserve index names

SET PostgreSQL PARAMETERS
    maintenance_work_mem to '128MB',
    work_mem to '12MB'

SET MySQL PARAMETERS
    net_read_timeout  = '120',
    net_write_timeout = '120'

 CAST column Channels.Type to "channel_type" drop typemod,
    column Teams.Type to "team_type" drop typemod,
    column UploadSessions.Type to "upload_session_type" drop typemod,
    column ChannelBookmarks.Type to "channel_bookmark_type" drop typemod,
    column Drafts.Priority to text,
    type int when (= precision 11) to integer drop typemod,
    type bigint when (= precision 20) to bigint drop typemod,
    type text to varchar drop typemod,
    type tinyint when (<= precision 4) to boolean using tinyint-to-boolean,
    type json to jsonb drop typemod

EXCLUDING TABLE NAMES MATCHING ~<IR_>, ~<focalboard>, 'schema_migrations', 'db_migrations', 'db_lock',
    'configurations', 'configurationfiles', 'db_config_migrations'

BEFORE LOAD DO
    $$ ALTER SCHEMA public RENAME TO {{ .SourceSchema }}; $$,
    $$ TRUNCATE TABLE {{ .SourceSchema }}.systems; $$,
    $$ DROP INDEX IF EXISTS {{ .SourceSchema }}.idx_posts_message_txt; $$,
    $$ DROP INDEX IF EXISTS {{ .SourceSchema }}.idx_fileinfo_content_txt; $$

AFTER LOAD DO
    $$ UPDATE {{ .SourceSchema }}.db_migrations set name='add_createat_to_teamembers' where version=92; $$,
    $$ ALTER SCHEMA {{ .SourceSchema }} RENAME TO public; $$,
    $$ SELECT pg_catalog.set_config('search_path', '"$user", public', false); $$,
    $$ ALTER USER {{ .PGUser }} SET SEARCH_PATH TO 'public'; $$;
